<main class="detail-page-content">
  <div class="details-page-filter-bar">
    <ui5-bar design="Header" style="height: 4rem;">
        <ui5-label id="basic-label" slot="startContent">Invoices</ui5-label>
        <ui5-button icon="add-document" title="Create invoice" slot="endContent" style="height: 4rem; width: 4rem; font-size:3rem;"></ui5-button>
    </ui5-bar>
  </div>

  <ui5-table>
    <ui5-table-column slot="columns">
      <ui5-label class="table-column-header-content">Invoice No</ui5-label>
    </ui5-table-column>

    <ui5-table-column slot="columns">
      <ui5-label class="table-column-header-content">Bill To</ui5-label>
    </ui5-table-column>

    <ui5-table-column slot="columns">
      <ui5-label class="table-column-header-content">Customer</ui5-label>
    </ui5-table-column>

    <ui5-table-column slot="columns">
      <ui5-label class="table-column-header-content"> Invoice Date </ui5-label>
    </ui5-table-column>

    <ui5-table-row :key="item.invoiceNumber" *ngFor="let item of invoices">
      <ui5-table-cell>
        <ui5-label class="table-cell-content">
          <b>{{item.invoiceNumber}}</b>
        </ui5-label>
      </ui5-table-cell>
      <ui5-table-cell>
        <span class="table-cell-content">{{item.billto}}</span>
      </ui5-table-cell>
      <ui5-table-cell>
        <span class="table-cell-content">{{item.customer}}</span>
      </ui5-table-cell>
      <ui5-table-cell>
        <span class="table-cell-content">{{item.invoicedate}}</span>
      </ui5-table-cell>      
    </ui5-table-row>
  </ui5-table>
</main>
