<nav class="navbar-main">
    <div class="container-fluid seacolor">
      <div class="navbar-header navbar-desk">                
        <a class="navbar-brand navbar-main" href="#">Praveen Aqua Solutions</a>        
      </div>
      <div class="navbar-mob">                
        <a class="navbar-brand navbar-main" href="#">Praveen Aqua Solutions</a>        
      </div>
      <button class="btn nav-right navbar-mob" (click)="menuClick($event)"><i class="fa fa-bars"></i></button>
      <ul class="nav navbar-nav nav-right navbar-main navbar-desk" #navitems>                
        <li><a href="#" >Home</a></li>
        <li><a href="#">Invoice</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
      
      
    </div>
</nav>